@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Who's Playing When?</h1>
    <p class="lead">Get email when your child is playing in a school match.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Julian McGee</h2>
        <p>
            Wednesday 16 September, Berkhamsted School 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Virginia McGee</h2>
        <p>No matches found.</p>
    </div>
    <div class="col-md-4">
        <h2>Matilda McGee</h2>
        <p>No matches found.</p>
    </div>
    <div class="col-md-4">
        <h2>Lawrence McGee</h2>
        <p>No matches found.</p>
    </div>
</div>